body{
  background-color: #C2E5E5;
  font-family: Montserrat;
  margin:0;

}
#home{
  animation-name: bacolor;
  animation-duration: 3s;
}
@keyframes bacolor {
  from {background-color: black;}
  to {background-color: #C2E5E5;}
}

header{
  height:10%;
}
a{
  color:black;
}
a: visited{
  color: black;

}
nav{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ABC8C8;
  height: 10%;
}

nav ul{
  list-style-type: none;
  text-decoration: none;
  margin:inherit;
  padding:inherit;
  height:inherit;
}
nav li{
  display: inline-block;
  padding-left: 16%;
  padding-right: 13%;
}

nav a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.hi{
  font-size: 94px;
  text-align: center;
}

.hi2{
  font-size: 34px;
  text-align: center;
}
#homid{
  animation-name: textintro;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  color: black;
}
@keyframes textintro{
  25%{color: #C2E5E5;}
  62.5%{color:black;}
  100%{color: #C2E5E5}
}
ul{
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}
.conbox{
  background-color: #BCC4C4;
  margin-left: 20%;
  width:60%;
  height:300px;
  border-radius: 1%;
}
#delrel{
  margin-bottom: 50px;
}

.feedbox{
  background-color: #BCC4C4;
  margin-left: 38%;
  width:24%;
  height:280px;
  border-radius: 1%;
}

form{
  text-align: center;
}
