body{
  background-color: #C2E5E5;
  font-family: Montserrat;
  margin:0;

}
#home{
  animation-name: bacolor;
  animation-duration: 3s;
}
@keyframes bacolor {
  from {background-color: black;}
  to {background-color: #C2E5E5;}
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #C2E5E5;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background: #555;
}

header{
  height:10%;
}
a{
  color:black;
}
a: visited{
  color: black;

}
nav{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ABC8C8;
  height: 12%;
}

nav ul{
  list-style-type: none;
  text-decoration: none;
  margin:inherit;
  padding:inherit;
  height:inherit;
}
nav li{
  display: inline;
  padding-left: 11%;
  padding-right: 8%;
}

nav a{
  font-size: 18px;
  text-decoration: none;
  color: #404242;
}
nav a:hover{

  text-decoration: none;
  color: Black;
}

.hi{
  font-size: 94px;
  text-align: center;
}
.hip{
  margin:40px;
  font-size: 94px;
  text-align: center;
}
.hi2{
  font-size: 34px;
  text-align: center;
}
#homid{
  animation-name: textintro;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  color: Black;
}
@keyframes textintro{
  25%{color: #C2E5E5;}
  62.5%{color:Black;}
  100%{color: #C2E5E5}
}
ul{
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}
.conbox{
  background-color: #BCC4C4;
  margin-left: 20%;
  width:60%;
  height:300px;
  border-radius: 5px;
}
#delrel{
  margin-bottom: 50px;
}

.feedbox{
  background-color: #BCC4C4;
  margin-left: 38%;
  width:24%;
  height:280px;
  border-radius: 5px;
}

form{
  text-align: center;
}
#projmaincon{
  align-items: center;
  display: flex;

}
.projcon{
  margin:6.25%;
  height:20%;
  width: 25%;
  background-color: #404242;
  color: white;

  border-radius: 5px;
}
.projcon:hover{
  background-color: white;
  color: #404242;
  text-decoration: underline;
}
.projimg{
  border-radius: 5px;
  width:100%
}
.projtext{
  padding: 10px;
}

.fake{
  height:375px;

}
.fake2{
  height:100px;

}
.smci{
  position:absolute;
  background-color: #506567;
  height:40px;
  width:40px;
  border-radius: 100%;
  right:2%;
  animation-name: loop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.smci:hover{
  background-color: Black;

}
@keyframes loop {
  50%{transform: translate(0px, -100px);}
  100%{transform: translate(0px, 0px);}}

.foot{
  position:relative;
  top:100px;
  height: 100px;
  background-color: #ABC8C8;

}
.foottext{
  margin:0;
  padding: 0;

}
